@charset "utf-8";

@import-normalize;

@import 'font-awesome/scss/font-awesome';

@import 'utils/variables';
@import 'utils/mixins/breakpoints';

@import 'base/base';
@import 'base/typography';

@import 'layout/page';
@import 'layout/header';
@import 'layout/nav';
@import 'layout/main';
@import 'layout/footer';

@import 'components/buttons';
@import 'components/coded-with-love-using';
@import 'components/nav-links';
@import 'components/titles';
@import 'components/transitions';
@import 'components/radar-chart';
