$color-black: #474747;
$color-blue: #738ac8;
$color-green: #73c873;
$color-red: #ff6661;
$color-silver: #c8c8c8;
$color-white: #fff;
$color-yellow: #ffe72e;

$color-primary: $color-green;

$font-stack: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-size: 20px;

$font-height: 1.6;
