/**
 * 1. Fix impacting of links style.
 */


.button {
  border-radius: 2px;
  border-style: none;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .17);
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-weight: 400;
  font-size: inherit;
  padding: .6rem 1.15rem;

  margin: inherit;

  &:active {
    padding: .6rem 1.1rem .6rem 1.2rem;
  }

  &:hover {
    border-style: none; /* 1 */
  }

  &--primary {
    background-color: darken($color-primary, 20);
    color: $color-white;
  }

  &--secondary {
    background-color: $color-white;
    color: darken($color-primary, 20);
  }
}
