html {
  font-size: $font-size;

  @include desktop {
    font-size: $font-size - 2px;
  }

  @include tablet {
    font-size: $font-size - 4px;
  }
}

body {
  color: $color-black;
  font-family: $font-stack;
  font-size: 1rem;
  text-rendering: optimizelegibility;
}

a {
  border-bottom: 1px dotted;
  color: darken($color-primary, 10);
  text-decoration: none;

  &:hover {
    border-bottom: 1px solid;
  }
}

::selection {
  color: $color-black;
  background-color: #ffe72e;
}
