.main {
  width: 100%;
  text-align: center;

  &__app {

  }

  &__title {

  }

  &__text {
    color: $color-white;
    margin: 0 auto 3rem;
    font-size: 1.1rem;

    a {
      color: inherit;
    }
  }

  &__button {

  }
}
