extends pug/page

block data
  - var title = "Learning Style Grid"

block head
  script(src="/assets/js/main.js" defer)

block body
  .page
    .page__wrapper
      header.page__header.header
      main.page__content.main
        .main__app
          #app
      footer.page__footer.footer
        +coded-with-love-by("Anton G.", "https://github.com/antongunov")
