extends pug/page

block data
  - var title = "Learning Style Grid — Online tool to build a learning style grid using Kolb's inventory"

block body
  .page.page--bg-color-primary
    .page__wrapper
      header.page__header.header
        nav.nav
          ul.nav__list
            li.nav__item.nav__item--right
              +nav-link-github("style-home")
      main.page__content.main
        .main__title
          h1.title.title--main Build Your Learning Style Grid
        .main__text
          p
            | And define your learning strengths and learning challenges using
            br
            a(href= "https://learningfromexperience.com/research-library/the-kolb-learning-style-inventory-4-0/" target="_blank")
              | The Kolb Learning Style Inventory 4.0
        .main__button
          a(href= "/app/instructions").button.button--secondary See Instructions
      footer.page__footer.footer
        +coded-with-love-using("Vue.js", "https://vuejs.org/")
