extends pug/page

block data
  - var title = "Learning Style Grid"

block body
  .page.page--bg-color-primary
    .page__wrapper
      header.page__header.header
      main.page__content.main
        h1.main__title How Do I Learn?
        a(href= "/app").main__button Inventory My Style
      footer.page__footer.footer
        +coded-with-love-by("Anton G.", "https://github.com/antongunov")
