extends pug/page

block data
  - var title = "Learning Style Grid"

block body
  .page.page--bg-color-primary
    .page__wrapper
      header.page__header.header
      main.page__content.main
        a(href= "/app") App
      footer.page__footer.footer
        +coded-with-love-by("Anton G.", "https://github.com/antongunov")
